################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NewGamePlus/.vs/NewGamePlus/FileContentIndex
/NewGamePlus/.vs/NewGamePlus/v17
/.gitignore
/.gitignore
/.gitignore
