################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/NewGamePlus/.vs/NewGamePlus/FileContentIndex
/NewGamePlus/.vs/NewGamePlus/v17
/.gitignore
/.gitignore
/.gitignore
/NewGamePlus/obj/Release
/NewGamePlus/Build/0Harmony.dll
/NewGamePlus/Build/0Harmony.xml
/NewGamePlus/Build/NewGamePlus.dll.config
/NewGamePlus/Build/UnityEngine.CoreModule.dll
